* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    0deg,
    rgba(247, 247, 247, 1) 24%,
    rgba(150, 1, 250, 0.6) 92%
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}
.project-title {
  background: -webkit-linear-gradient(#d63031, #2d3436);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.music-container {
  background-color: #fff;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(150, 1, 250, 0.3);
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 100px 0;
  z-index: 10;
}
.img-container {
  position: relative;
  width: 110px;
}
.img-container img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;
  -webkit-animation: rotate 3s linear infinite;
  animation-play-state: paused;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.action-btn {
  border: none;
  background-color: #fff;
  color: #dfdbdf;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  margin: 0 20px;
}
.action-btn.action-btn-big {
  font-size: 30px;
  color: #cdc2d0;
}
.action-btn:focus {
  outline: none;
}
.music-info {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  -ms-border-radius: 15px 15px 0 0;
  -o-border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  width: 90%;
  left: 20px;
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  -webkit-transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  -moz-transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  -ms-transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  -o-transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}
.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}
.music-info h4 {
  margin: 0;
}
.progress-container {
  background-color: #fff;
  cursor: pointer;
  margin: 10px 0;
  height: 5px;
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.progress {
  background-color: rgba(150, 1, 250, 0.7);
  height: inherit;
  width: 0%;
  border-radius: inherit;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
  transition: width 0.1s linear;
  -webkit-transition: width 0.1s linear;
  -moz-transition: width 0.1s linear;
  -ms-transition: width 0.1s linear;
  -o-transition: width 0.1s linear;
}
.music-image-container {
  position: absolute;
  top: 15%;
  left: 15%;
  z-index: -1;
}
.music-image {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@media (max-width: 768px) {
  .music-image-container {
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}
@media (max-width: 590px) {
  .project-title {
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    background: unset;
    -webkit-text-fill-color: unset;
    color: white;
  }
  .music-container {
    transform: translateY(-106px);
    -webkit-transform: translateY(-106px);
    -moz-transform: translateY(-106px);
    -ms-transform: translateY(-106px);
    -o-transform: translateY(-106px);
  }
  .music-image-container {
    top: 38%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  .music-image {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 472px) {
  .music-image-container {
    top: 38%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  .music-image {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 460px) {
  .music-container {
    width: 90%;
  }
  .music-image-container {
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  .music-image {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 433px) {
  .music-container {
    height: 88px;
  }
  .navigation {
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  .action-btn {
    margin: 0 10%;
  }
}

/* Start Loader CSS */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100);
.loader-container {
  background-color: #fff;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  font-family: "Roboto";
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
}
.loading-page {
  background: #0d0d0d;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-page .counter {
  text-align: center;
}
.loading-page .counter p {
  font-size: 40px;
  font-weight: 100;
  color: #f60d54;
}
.loading-page .counter h1 {
  color: white;
  font-size: 60px;
  margin-top: -10px;
}
.loading-page .counter hr {
  background: #f60d54;
  border: none;
  height: 1px;
}
.loading-page .counter {
  position: relative;
  width: 200px;
}
.loading-page .counter h1.abs {
  position: absolute;
  top: 0;
  width: 100%;
}
.loading-page .counter .color {
  width: 0px;
  overflow: hidden;
  color: #f60d54;
}

/* End Loader CSS */
